config/config.yaml
*.csv
*.parquet
*.json
data/
_delta_log/
*.delta
# imgs/
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.ipynb_checkpoints/
*.ipynb_checkpoints
.databricks/
.databrickscfg
mlruns/
mlartifacts/
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
*.log
*.tmp